{% extends "layout.html" %}
{% block content %}
<h2>View Winner</h2>
<p>Click 'start' to begin listening for new winners - we'll check every 1 minute.</p>
<form action="" method="post" name="gameadmin">
    {{form.hidden_tag()}}
    {{form.game_round.label}} {{form.game_round}}<br />
    <p><button id="start" class="btn btn-success btn-large">Start listening</button><a href="#" id="stop" class="btn btn-danger btn-large hidden">Stop listening</a> </p>
</form>
    <div id="waitingitem" class="hidden"><img src="static/content/pl.gif" height="32" width="32"/> Waiting for winners.</div>

<ol id="winnerlist">
    
</ol>
{% endblock %}
{% block scripts %}
<script language="JavaScript">

    var timer;

    function checkStatus(gameRound) {
            $.ajax({
                url: '/winnerstatus?round=' + gameRound,
                type: 'GET',
                success: function (response) {

                    console.log(response);

                    var entries = jQuery.parseJSON(response);

                    if (entries.length > 0) {
                        console.log(entries[0].postedby);


                        var list = document.getElementById('winnerlist');

                        var entry = document.createElement('li');
                        entry.appendChild(document.createTextNode(entries[0].postedby));
                        list.appendChild(entry);

                    }

                    if (entries.length <= 3) {
                        console.log("re-run");
                        timer = setTimeout(function () {
                            checkStatus($("#game_round").val());
                        }, 60000);
                    }  
                },
                error: function (error) {
                    //$("#statustext").text("An unexpected error occurred.");
                    //$("#statustext").removeClass("alert-dark");
                    //$("#statustext").addClass("alert-error");
                    console.log(error);
                }
            });
        }

    $("#start").click(function (event) {
        event.preventDefault();
        $("#start").addClass("hidden");
        $("#waitingitem").removeClass("hidden");
        $("#stop").removeClass("hidden");
        checkStatus($("#game_round").val());
    });

    $("#stop").click(function (event) {
        event.preventDefault();
        $("#stop").addClass("hidden");
        $("#waitingitem").addClass("hidden");
        $("#start").removeClass("hidden");
        clearTimeout(timer);
    });
</script>
{% endblock %}